[class*="col-"],
[class*=-item] {
  padding-top: 15px;
  padding-bottom: 15px;/*
  background-color: #eee;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, .2);*/
}

.wrap {
  position: relative;
}

.category {
  display: block;
  font: bold 17px/16px "Roboto Condensed",sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.img_width {
  width: 100%;
}

.slide-logo {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png") center center no-repeat;
  background-size: cover;
  opacity: 0.7;
  font-weight: bold;
  width: 90px;
  height: 80px;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
}

.text_slideshow {
  position: relative;
  top: 15px;
}

#more-stories::-webkit-scrollbar { width: 0 !important }
